<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Desktop - 1</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fenix%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400"/>
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/produtos.css') }}"/>
</head>
<body>
<div class="desktop-1-Vwr">
  <div class="auto-group-lphw-RU8">
    <img class="rectangle-2-9wr" src="{{ url_for('static',filename='rectangle-2.png') }}"/>
  </div>
  <div class="auto-group-qujx-myE">
    <div class="auto-group-yjvn-pAp">
      <div class="group-1-Hq6">
        <img class="rectangle-11-AP6" src="{{ url_for('static',filename='rectangle-11-wCG.png') }}"/>
        <div class="auto-group-pgg4-Etk">
          <div class="auto-group-1hba-6RA">
            <div class="rao-golden-frango-e-carne-15kg-4HS">Ração Golden - Frango e Carne (15kg)</div>
            <div class="r14330-SYt">R$143,30</div>
          </div>
          <div class="auto-group-bq1a-uBa">
            <div class="rectangle-23-2X6">
            </div>
            <div class="auto-group-fkbe-u56">
              <div class="adicionar-ao-carrinho-owA">
              Adicionar
              <br/>
              ao carrinho
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="group-8-CCc">
        <img class="rectangle-11-fbz" src="{{ url_for('static',filename='rectangle-11-XFr.png') }}"/>
        <div class="auto-group-hzap-Ly2">
          <div class="auto-group-gznl-DX2">
            <div class="rao-golden-frango-e-arroz-10kg-L5r">Ração Golden - Frango e Arroz (10kg)</div>
            <div class="r14590-BMN">R$145,90</div>
          </div>
          <div class="auto-group-ghl8-ULU">
            <div class="rectangle-23-oNk">
            </div>
            <div class="auto-group-seqr-JKW">
              <div class="adicionar-ao-carrinho-qaL">
              Adicionar
              <br/>
              ao carrinho
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="auto-group-zjfn-vbn">
      <div class="group-7-T5v">
        <img class="rectangle-11-BGp" src="{{ url_for('static',filename='rectangle-11-Npt.png') }}"/>
        <div class="auto-group-sibv-iGk">
          <div class="auto-group-gkhi-348">
            <div class="rao-golden-gatos-adultos-frango-10kg-bLY">Ração Golden Gatos Adultos - Frango (10kg)</div>
            <div class="r16980-heU">R$169,80</div>
          </div>
          <div class="auto-group-srcl-qEt">
            <div class="rectangle-23-BpY">
            </div>
            <div class="auto-group-hcbw-XtQ">
              <div class="adicionar-ao-carrinho-H6t">
              Adicionar
              <br/>
              ao carrinho
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="group-10-McY">
        <img class="rectangle-11-tcU" src="{{ url_for('static',filename='rectangle-11-DCQ.png') }}"/>
        <div class="auto-group-vpgp-d4G">
          <div class="auto-group-pbyn-ZCp">
            <div class="rao-golden-gatos-adultos-carne-10kg-6Te">Ração Golden Gatos Adultos - Carne (10kg)</div>
            <div class="r15690-CWg">R$156,90</div>
          </div>
          <div class="auto-group-mjeg-wDN">
            <div class="rectangle-23-tPW">
            </div>
            <div class="auto-group-ntxa-2kc">
              <div class="adicionar-ao-carrinho-NZa">
              Adicionar
              <br/>
              ao carrinho
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="auto-group-fkwv-FNU">
      <div class="group-11-yJU">
        <img class="rectangle-11-V1v" src="{{ url_for('static',filename='rectangle-11-RYg.png') }}"/>
        <div class="auto-group-au64-bqe">
          <div class="auto-group-ykqg-KWk">
            <div class="brinquedo-para-cachorro-pelcia-macacao-4z8">Brinquedo para cachorro - Pelúcia Macacao</div>
            <div class="r3190-YPW">R$31,90</div>
          </div>
          <div class="auto-group-jrkj-U2G">
            <div class="rectangle-23-DVe">
            </div>
            <div class="auto-group-zn9r-M64">
              <div class="adicionar-ao-carrinho-g8L">
              Adicionar
              <br/>
              ao carrinho
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="group-9-AJQ">
        <img class="rectangle-11-u16" src="{{ url_for('static',filename='rectangle-11.png') }}"/>
        <div class="auto-group-43g8-qQY">
          <div class="brinquedo-para-cachorro-pelcia-polvo-alien-xVA">Brinquedo para cachorro - Pelúcia Polvo alien</div>
          <div class="r4890-fPa">R$48,90</div>
          <div class="auto-group-ky3z-bHE">
            <div class="rectangle-23-Lkc">
            </div>
            <div class="auto-group-tvjv-5y6">
              <div class="adicionar-ao-carrinho-2dS">
              Adicionar
              <br/>
              ao carrinho
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="auto-group-xvvg-ghz">
      <div class="rectangle-21-Rfa">
      </div>
      <div class="rectangle-22-8pt">
      </div>
    </div>
  </div>
</div>
</body>