<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="{{ url_for('.static',filename='styles/signup.css') }}"/>

</head>

<body>
    <header>
        <img src="{{ url_for('static',filename='images/logo.png') }}">
        <h2>O bem estar do seu pet começa aqui</h2>
    </header>
    <form>
        <input type="text" placeholder="Nome Completo" id="nome" name="user_login">
        <input type="number" min="0" max="99999999999" placeholder="CPF" id="CPF">
        <input type="email" placeholder="Email" id="email">
        <input type="password" placeholder="Senha" id="senha">
        <input type="submit" class="enviar" value="Enviar" onclick="">
        <a  class="registro" href="company">Trabalhe conosco!</a>
    </form>
</body>


</html>